@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*first part*/
body{
    /*background-color: #1f2937;*/
    margin: 0px;
    font-family: roboto;
}
.container-one{
    height: 80vh;
    background-color: #1f2937;
   /* margin: -8px;
    padding: 0px;*/
}
.header{
    /*border: 2px solid ;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 130px 80px 130px;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

a{
    text-decoration: none;
    color: #f9faf8;
} 
.logo{
    font-size: 24px;
    font-weight: bold;
    
}
.section-one{
    /*border: 2px solid red;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 130px 180px 130px;
    padding-bottom: 100px;
}
.sub-section-one{
    width: 420px;
    margin-right: 90px;
}
.title-one{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
}
.sign-up{
    
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    width: 120px;
    height: 38px;
    border-radius: 8px;
	border-color: none;
	border-style: none;
}
.image{
    width: 550px;
    height: 250px;
    border: 1px solid white;
}
.text-one{
  font-size: 18px;
  color: #e5e7eb;  
  margin: 10px 0px;
}
/*second part*/
.img {
    width: 180px;
    height: 180px;
    border-radius: 8px;
    border: 4px solid #3882f6;
    margin-bottom: 10px;
  }
  
  .title-two{
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 48px;
  }
  .info {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 58px;
    
  }
  .container-two {
    text-align: center;
    height: 75vh;
  }
  .text-two{
    font-size: 18px;
    color: #1f2937;  
  }